# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt
.output
.output.stale

# Nuxt generate
dist
dist.bak
dist.stale

chords.json

# service worker
sw.*

data

assets/instruments_raw/*
assets/midi/other/*
assets/wav/*

# Playwright
test-results/
playwright-report/
.playwright/
