// switch to wide mode
$min-width-sm: 1200px;
$min-width-md: 1400px;
$min-width-lg: 1600px;
$min-width-xl: 2000px;

$container-width-xs: 640px;
$container-width-sm: 1200px;
$container-width-md: 1400px;
$container-width-lg: 1600px;
$container-width-xl: 2000px;

// font sizes
$font-size-1: 13px;
$font-size-2: 16px;
$font-size-3: 20px;

$main-padding: 5px;

:root {
  --main-padding: #{$main-padding};

  --container-width-md: #{$container-width-md};
  --container-width-lg: #{$container-width-lg};
  --container-width-xl: #{$container-width-xl};

  --bg: #fff;
  --bg-hover: #f5f5f5;
  --color: #303133;
  --border: #DCDFE6;
  --border-hover: #409EFF;
  --link: #666;
  --link-hover: #999;
  --link-disabled: #eee;
}

.dark-mode {
  --bg: #222933;
  --bg-hover: #29313d;
  --color: #eee;
  --border: #121820;
  --border-hover: #598ea6;
  --link: #999;
  --link-hover: #ccc;
  --link-disabled: #333;
}
